.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: rgb(180, 180, 180, 0.5);
    color: #000000;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 18px;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
