.about-section {
  background-color: transparent; /* No background */
  padding: 2rem; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: Adds rounded corners */
  box-shadow: none; /* Remove the shadow if you want no visual effects */
}

.about-heading {
  color: #3cdcea; /* Heading color */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem; /* Optional: Adds space below the heading */
}

.about-info p {
  color: #f2f2f2; /* Text color */
  font-family: 'Montserrat', sans-serif;

}

img {
  border-radius: 0.5rem;
  margin: auto;
  max-width: 100%; /* Ensure the image is responsive */
  height: auto;
}

bluetext {
  color: #00a7cc;
}
