.about-section {
    background-color: #f5f5f5; /* Light background color */
    color: #333333; /* Dark text color */
    padding: 50px; /* Adjust the padding */
  }
  
  .about-info {
    max-width: 600px; /* Limit the width of the text content */
  }
  
  .about-img img {
    max-width: 50%; /* Ensure the image doesn't overflow its container */
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  