@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* * {
  font-family: 'acnh_font' !important;
} */

/* attempting to get the acnh font? */
@font-face {
  font-family: 'acnh_font';
  src: url('./assets/fonts/FOT-Seurat_Pro_L.otf'); /* Make sure filename is exact */
  font-weight: 300; /* This tells the browser: "Use this file when I ask for Light text" */
  font-style: normal;
}

@font-face {
  font-family: 'acnh_font';
  src: url('./assets/fonts/FOT-Seurat_Pro_M.otf'); 
  font-weight: 500; /* This tells the browser: "Use this file when I ask for Bold text" */
  font-style: normal;
}

@font-face {
  font-family: 'acnh_font';
  src: url('./assets/fonts/FOT-Seurat_Pro_B.otf'); 
  font-weight: 700; /* This tells the browser: "Use this file when I ask for Bold text" */
  font-style: normal;
}


html {
  scroll-behavior: smooth;
}

body {
  --site-font: 'Montserrat', sans-serif; 
  --text-color: black;
  font-family: var(--site-font);
  @apply text-lg
  
}

.projects img {
  width: 100%;
}

/* color */
.bg-primary {
  background: #0F172A;
}

.bg-secondery {
  background: #1E293B;
}

.bg-accent {
  background: #7477FF;
}

.text-accent {
  color: #7477FF;
}

:root {
  /* Default Theme (matches base theme) */
  --header-bg: #1f2937; 
  --header-text: #ffffff;
  --border-color: #e5e7eb;
  --content-bg: #ffffff;
  --site-bg: #a5f3fc;
  --box-bg: #ffffff;
  --site-font: sans-serif;
}

/* animal crossing */
[data-theme="acnh"] {
  --header-bg: #86efac;
  --box-bg: #d1fae5;
  --header-text: #7c4a10; 
  --site-bg: url('./assets/ac_bg2.png');
  --site-font: 'acnh_font', monospace;
}

/* current nuclear option to switch fonts
 basically every MUI element acts as a standard HTML header
 so just add all headers used here and for other fonts as well */



[data-theme="acnh"] h2,
[data-theme="acnh"] h3 {
  font-family: "Lilex", monospace !important;
  font-weight: 700 !important;
  letter-spacing: -1px;
}

[data-theme="acnh"] .MuiTypography-h4,
[data-theme="acnh"] h5,
[data-theme="acnh"] .MuiTypography-h5,
[data-theme="acnh"] h6,
[data-theme="acnh"] h6 * {
  font-family: "Lilex", monospace !important;
  font-weight: 500 !important;
}

[data-theme="acnh"] .MuiTypography-body1,
[data-theme="acnh"] .MuiTypography-body2,
[data-theme="acnh"] .research-body-text {
  font-family: "Lilex" monospace !important;
  font-weight: 400 !important;
  font-size: 16px;
}

/* Theme: UTDR*/
[data-theme="utdr"] {
  --header-bg: #19ffff;
  --box-bg: #d6fcff; 
  --header-text: #000000;
  --site-bg: #000000;
  --site-font: "Jersey 10", sans-serif !important;
}

[data-theme="utdr"] h2 {
  font-family: "Jersey 10", sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
  font-size: 72px;
}

/* 3. YOUR HELPER CLASSES */

.themed-header-bg {
  background-color: var(--header-bg);
  color: var(--header-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* background */
.themed-site-bg {
  background: var(--site-bg);
  background-size: cover;     /* Ensures images cover the screen */
  background-position: center;
  background-attachment: fixed; /* Keeps bg still while scrolling */
  transition: background 0.5s ease;
}

/* box background */
.themed-box-bg {
  background-color: var(--box-bg);
  background-size: cover;     /* Ensures images cover the screen */
  background-position: center;
  background-attachment: fixed; /* Keeps bg still while scrolling */
}

.themed-border {
  border-color: var(--border-color);
}

.themed-content-bg {
  background-color: var(--content-bg);
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #7477FF;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

